#MainTitle{
    font-size: 54px;
    color: white;
    text-align: center;
     z-index: 2;
    margin-bottom: 0px;
}
#btn{
    background-color: gray;
    z-index: 1;
}
header{
    background-color:black;
}
body{
    z-index: 5;
}
#center{
    text-align: center;
}